<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFavClip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63B2A7E81E554A7A001F6168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63B2A7FC1E554A7B001F6168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63B2A8071E554A7B001F6168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
